OAUTH2_PROXY_CLIENT_ID=<client_id>
OAUTH2_PROXY_CLIENT_SECRET=<client_secret>
OAUTH2_PROXY_OIDC_ISSUER_URL=https://example.com/
OAUTH2_PROXY_COOKIE_NAME=<cookie_name>
# https://oauth2-proxy.github.io/oauth2-proxy/configuration/overview/
OAUTH2_PROXY_COOKIE_SECRET=<cookie_secret (32 bytes)>
OAUTH2_PROXY_EMAIL_DOMAINS=*
